.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  inset: 0;
  padding: 20px;

  &.dark-mode {
    .modal-content {
      background: #333;
      color: #fff;
    }
    
    .chip {
      color: #fff;
    }

    .modal-button {
      background-color: #5eacff;
      color: #fff;
    }

    .modal-button:hover {
      background-color: #4d78a7;
    }
  }

  &.light-mode {
    .modal-content {
      background: #fff;
      color: #000;
    }

    .chip {
      color: #000;
    }

    .modal-button {
      background-color: #5eacff;
      color: #000;
    }

    .modal-button:hover {
      background-color: #4d78a7;
    }
  }
}

.modal-content {
  background: #333;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 1000px;
  height: 400px;
  position: relative;
  display: flex;
}

.modal-body {
  display: flex;
  width: 100%;
}

@media (max-width: 900px) {
  .modal-body {
    flex-direction: column;
    padding-top: 30px;
  }
  
  .modal-image img {
    width: 100%;
  }

  .modal-content {
    height: auto;
  }
}

.modal-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
}

.modal-details {
  padding: 20px;
  flex: 1;
  justify-items: center;
  display: grid;
  align-items: center;
  justify-items: center;
}

.modal-description {
  height: auto;
  width: 100%;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.flex-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.chip {
  color: black;
  padding: 8px 12px;
  border-radius: 16px;
  font-size: 14px;
}

.chip-title {
  font-weight: bold;
  margin-right: 8px;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.modal-button {
  background-color: #5eacff;
  color: black;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.modal-button:hover {
  background-color: #4d78a7;
  transform: scale(0.95);
}
